# 이 파일보다 상위 디렉토리로 설정 탐색하지 않도록 설정
config.stopBubbling = true

# @Generated 어노테이션 추가 안 함
lombok.addGeneratedAnnotation = false

# @Builder 사용 시 생성자에 @ConstructorProperties 추가
lombok.anyConstructor.addConstructorProperties = true

# 부모 클래스 필드까지 equals/hashCode, toString 포함
lombok.equalsAndHashCode.callSuper = call
lombok.toString.callSuper = call
